/* src/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px; /* Adjust the height as needed */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #ffa500;
}
